<div class="container">
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-lg-4 col-sm-2 col-1"></div>
        <div class="col-lg-4 col-sm-8 col-10" style="border-style: solid; border-radius: 5px; padding: 15px; font-size: 24px;">
            What assumptions have you made today? Every day we judge and assume truths about people 
            all the time. This project exposes our subconsciousness making judgements on the character of a person just by an instagram post.
            We take the information given on social media at face value and believe that a person's entire life is based off of these instant
            snap shots of a life. How exposing is social media really? What can you really know from a person's feed? These are all questions 
            that this project hopes to evoke to visitors.<br>
            <button type="button" class="btn btn-primary" id="submitR">Back</button>
        </div>
    </div>
    
</div>