@media screen and (min-width: 992px){
    body{
        background-color: black;
    }
    .container{
        background-color: black;
        overflow: hidden;
    }
    .backdrop{
        background-color: white;
    }
    #insta-pic-holder{
        /* padding-top: 60px; */
        background-color: white;
    }
    #insta-pic {
        height: 600px;
        height: 100%;
        border-style: solid;
        border-radius: 10px;
        overflow: scroll;
    }
    #in-out {
        height: 600px;
        border-style: solid;
        border-radius: 10px;
        overflow: scroll;
        padding-top: 10px;
        background-color: white;
    }
    #form-questions{
        background-color: white;
    }
    
    
}


@media screen and (max-width:991px) {
   
body{
    background-color: black;
}
.container{
    background-color: black;
    overflow: hidden;
}
.backdrop{
    background-color: white;
}
#insta-pic-holder{
    /* padding-top: 60px; */
    background-color: white;
}
#insta-pic {
    height: 600px;
    height: 100%;
    border-style: solid;
    border-radius: 10px;
    overflow: scroll;
}
#in-out {
    height: 600px;
    border-style: solid;
    border-radius: 10px;
    overflow: scroll;
    padding-top: 10px;
    background-color: white;
}
#form-questions{
    background-color: white;
}

 
}
