body{
    background: red;
}

#insta-pic {
    height: 600px;
    border-style: solid;
    border-radius: 10px;
    overflow: scroll;
    padding: 0%;
}
#in-out {
    height: 600px;
    border-style: solid;
    border-radius: 10px;
    overflow: scroll;
    padding-top: 10px;
    background-color: white;
}
#form-questions{
    background-color: white;
}

